# Assignment: Resampling Datetime Data
## Joseph Lim

Create a datetime index with the provided data and answer questions using visualizations and correct frequency data.

| Feature name     | Feature Type | Description                                   |
|------------------|--------------|-----------------------------------------------|
| date             | int          | recorded date of measurement                  |
| cloud_cover      | float        | cloud cover in oktas                          |
| sunshine         | float        | sunshine measurement in hours                 |
| global_radiation | float        | irradiance measurement in Watts/meter squared |
| max_temp         | float        | maximum temp in degrees Celsius               |
| mean_temp        | float        | average temp in degrees Celsius               |
| min_temp         | float        | minimum temp in degrees Clesius               |
| precipitation    | float        | precipitation measurement in millimeters      |
| pressure         | float        | pressure measurement in Pascals               |
| snow_depth       | float        | snow depth measured in centimeters            |

## Importing Libraries and Data

In [1]:
#Basic Manipulation
import numpy as np
import pandas as pd

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mticks
import matplotlib.dates as mdates

In [2]:
#Setting various standards
plt.rcParams['figure.figsize'] = (12,3)

In [3]:
#importing data into dataframe
df = pd.read_csv("london_weather_MODIFIED - london_weather_MODIFIED.csv")
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

## Cleaning Data

In [7]:
df.shape

(15341, 10)

In [4]:
df.describe()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
count,1.534100e+04,14938.000000,14957.000000,14939.000000,14951.000000,14922.000000,14955.000000,14951.000000,14953.000000,13589.000000
mean,1.999567e+07,5.276275,4.348947,118.760024,15.377667,11.463939,7.550471,1.662003,101537.611182,0.038634
std,1.212176e+05,2.066946,4.027593,88.844154,6.556762,5.729383,5.327638,3.730315,1048.800019,0.551226
min,1.979010e+07,0.000000,0.000000,12.000000,-6.200000,-7.600000,-11.800000,0.000000,95960.000000,0.000000
25%,1.989070e+07,4.000000,0.500000,41.000000,10.500000,7.000000,3.500000,0.000000,100920.000000,0.000000
50%,2.000010e+07,6.000000,3.500000,95.000000,15.000000,11.400000,7.800000,0.000000,101620.000000,0.000000
75%,2.010070e+07,7.000000,7.200000,186.000000,20.300000,16.000000,11.800000,1.600000,102240.000000,0.000000
max,2.020123e+07,9.000000,16.000000,402.000000,37.900000,29.000000,22.300000,61.800000,104820.000000,22.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  int64
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.2 MB

In [10]:
#Checking % missing data
df.isna().sum() / len(df) * 100

date                 0.000000
cloud_cover          2.626947
sunshine             2.503096
global_radiation     2.620429
max_temp             2.542207
mean_temp            2.731243
min_temp             2.516133
precipitation        2.542207
pressure             2.529170
snow_depth          11.420377
dtype: float64

## What month had the most precipitation between 2000 through 2010?

## Which year between 2000-2020 had the coolest average temperature?